<h1>This is team show page</h1>
<div class="row jumbotron">
	
		<div class="col-md-4">
			<h3><strong>Your Team</strong></h3>
		</div>

		<div class="col-md-4">
			<h3><strong><%=@team.name%></strong></h3>
		</div> 
  <% if check_for_owner_add_member(current_user.id, @team.id) =="owner" %>

  <div class="col-md-4">
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style = "float: right;">Add Members</button> 
	</div>
  <%else%>
  <%end%>
</div>

<h3>Members in your Team</h3>
<table class="table table-sm table-hover table-bordered" style="margin-bottom: 28px;">
  <thead class="thead-dark">
      <tr>
          <th>Sr.no</th>
          <th>Name</th>
      </tr> 
  </thead>
  <tbody class="table-striped">
      <%count = 0%>
      <%@usr_for_table.each do |u|%>
          <tr class="table-light">
              <td><%=count+=1%></td>
              <td><%=u.name%></td>
          </tr> 
      <%end%>
  </tbody>
</table>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header">
         
          		<h4 class="modal-title">Add members</h4>
           		<button type="button" class="close" data-dismiss="modal">&times;</button>
       		</div>
   			<%= form_for :team, url: account_teams_get_teaminfo_path do |form| %>
        	<div class="modal-body">
          		<div id="checkboxes">
  					<label>Members in this Account</label>
						<ul>
							<%@user_for_modal.each do |n|%>
 							  <li><%= check_box_tag "user_ids_for_modal[]", n.id %><%=n.name%></li>
                <%= form.hidden_field :team_id, :value => @team.id %>
    					<%end%>
    						<%= form.submit "Add member", class: "btn btn-success" %>
  					</ul>
				  </div>
      	</div>
      		<%end%>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
<div class = "container col-md-8 ">
  <h3 ><strong>Chat Room(<%=@team.name%>)</strong></h3>
  <div class = "jumbotron" style="float: right; overflow-x: hidden; overflow-y: scroll; height: 450px ; width: 100%; padding: 10px">
      <div id="messages" data-team-id = "<%= @team.id %>">
        <%= render @messages %>
      </div>
      <!-- we can also call coffee script by writing data-behavior tag(data-behavior="room_speake") -->
      <form>
        <label><strong>Write a message</strong></label><br>
          <input type="text_field" data-value = '<%=@team.id%>' id="msg">
          <input type="button" class = "btn btn-default" id = "btn">
      </form>
  </div>
</div>

































<!-- <script type="text/javascript">
  jQuery(document).on('turbolinks:load', function() {
      var messages;
      messages = $("#messages").attr('data-team-id');
      App.chat = App.cable.subscriptions.create({
      channel: "ChatChannel",
       id: messages
  }, {
    connected: function() {},
    disconnected: function() {},
    received: function(data) {
      return $('#messages').append(data['message']);
    },
    //first speak to take parameter(message, team_id) and pass this to server side(Roomchannel's speak method)
    speak: function(message, team_id) {
      return this.perform('speak', {
        message: message,
        team_id: team_id
      });
    }
  }, $(document).on('keypress', function(event) {
    byebug;
    var message, team_id;
    team_id = $("#msg").attr('data-value');
    message = $("#msg").val();
    if (event.keyCode === 13) {
      App.chat.speak(message, team_id);
      event.target.value = '';
      return event.preventDefault();
    }
}));
</script>
 -->


 
