<h1>This is team show page</h1>
<div class="row jumbotron">
	
		<div class="col-md-4">
			<h3><strong>Your Team</strong></h3>
		</div>

		<div class="col-md-4">
			<h3><strong><%=@team.name%></strong></h3>
		</div> 
	
	<div class="col-md-4">
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style = "float: right;">Add Members</button> 
	</div>
</div>



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header">
         
          		<h4 class="modal-title">Add members</h4>
           		<button type="button" class="close" data-dismiss="modal">&times;</button>
       		</div>
   			<%= form_for :team, url: teams_get_teaminfo_path do |form| %>
        	<div class="modal-body">
          		<div id="checkboxes">
  					<label>some label</label>
						<ul>
							<%@usr.each do |n|%>
    							
    						
    						 <%= hidden_field_tag "checked[#{n.name}]", "false" %>
 							<li><%= check_box_tag "checked[#{n.name}]","true", true %><%=n.name%></li>
    					
    						<%end%>
    							<%= form.submit "Add member" %>
  						</ul>
				</div>
      		</div>
      		<%end%>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>