<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <%= devise_error_messages! %>
  <% if devise_error_messages!.present? && params[:user][:key_for_invitation].present?%>
  
      <!--redierting to signup page(without account name) through gmail -->
      <% devise_redirect(params[:user][:key_for_invitation]) %>

  <% end %>
  <%= f.hidden_field :key_for_invitation,:value => params[:invited_key] %> 
  <div class="container jumbotron">
    <div class="row d-flex justify-content-center">  
      <div class="col-md-8 ">
      <%if params[:invited_key].present? %> 
        <div class="form-group">
          <h2>Sign up</h2>
      
          <%= f.label :email %><br />
          <%= f.email_field :email, :value => get_invitation_email(params[:invited_key]), autofocus: true,:readonly => true, autocomplete: "email", class: "form-control" %>
          <!-- text_field :ecard, :sender, :value => 'contact@host.com' -->
        </div>
      <% else %> 
        <div class="form-group"> 
          <h2>Sign up</h2>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
          
            <div class="form-group">
              <%= f.label :account_name %><br />
              <%= f.text_field :account_name, autofocus: true, autocomplete: "off", class: "form-control" %>
            </div>
          
        <%end%>
         <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name,  autofocus: true, autocomplete: "off", class: "form-control" %>
          <!-- text_field :ecard, :sender, :value => 'contact@host.com' -->
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
        
          
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
        
      </div>
    </div>
  </div>



<% end %>


