<!DOCTYPE html>
<html>
  <head>
    <title>MPM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
        <div class = "container" style=" min-height: 757px;">
          <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info") %>
          <% end %>

          <div class = "fluid-container">
            <div class = "row" >
              <div class = "col-sm-2">
                <% if user_signed_in? %>
                  <h5>Chatrooms</h5>
                  <ul>
                    
            
                  </ul>
                <%end%>
              </div>
              <div class = "col-sm-10">
                <%= yield %>

              </div>
            </div>
          </div>
        
        </div>
      <%= render 'layouts/footer'%>
  </body>
</html>
