
<div class="row jumbotron">
  <div class="col-md-3">
    <h3><strong>Your Account</strong></h3>
  </div>
  <% if check_for_owner(current_user.id, @account) =="owner" %>
  <div class="col-md-3">
    
      <h3><strong><%=@owner_name.name%>(OWNER)</strong></h3>
    </div> 
    <div class="col-md-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style = "float: right;">Add Users</button>
    </div> 
    
  <div class="col-md-3">
   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" style = "float: right;">Add Team</button> 
  </div>
   <%else%> 
  
   <div class="col-md-4">
      <h3><strong>You are member</strong></h3>
    </div>
     <div class="col-md-3">
   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" style = "float: right;">Add Team</button> 
  </div>
  <%end%>
</div>
  

<table class="table table-sm table-hover table-bordered">
  <thead class="thead-dark">
      <tr>
          <th>Sr.no</th>
          <th>Name</th>
          <th colspan="2" >Status</th>
      </tr>
  </thead>
  <tbody class="table-striped">
      <%count = 0%>
      <%@invited_users.each do |n|%>
          <tr class="table-light">
              <td><%=count+=1%></td>
              <td><%=n.name%></td>
              <td><%=check_for_owner(n.id , @account)%></td>
              
          </tr>
      <%end%>
  </tbody>
</table>
<br/>
<h3><strong>My Teams-</strong></h3>
<% @teams.each do |tm| %>

  <div class="row jumbotron border border-secondary">
    <div class="col-md-6">
      <h3><strong><%=tm.name%></strong></h3>
      <p><strong>By <%=owner_name_for_team(tm.owner_id)%></strong></p>
    </div>
    <div class = "col-md-4">
      <a href="<%=account_team_path(@account.id,tm.id)%>" class="btn btn-success" style = " float: right">Your team</a>
    </div>  
  </div> 
<%end%>
<br/>
<h3><strong>Other Teams-</strong></h3>
<% @other_teams.each do |om| %>
  <div class="row jumbotron border border-secondary">
    <div class="col-md-6">
      <h3><strong><%=om.name%></strong></h3>
      <p><strong>By <%=owner_name_for_team(om.owner_id)%></strong></p>
    </div>
    <div class = "col-md-4">
      <a href="<%=account_team_path(@account.id,om.id)%>" class="btn btn-success" style = " float: right">Your team</a>
    </div> 
  </div> 
<%end%>    
  
  

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Invite Users</h4>
           <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <%= form_for :invitation, url: invitations_get_user_mail_path do |form| %>
        <div class="modal-body">
           <%= form.label :email %>
                    <%= form.email_field :user_email %>
                    <%= form.hidden_field :account_id, :value => @account.id %>
                    <%= form.submit "Invite" %>
        </div>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>



  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Add Team Name</h4> 
           <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <%= form_for :team, url: account_teams_get_name_path(@account) do |form| %>
        <div class="modal-body">
          <%= form.label :Name %>
                    <%= form.text_field :name %>
                    <%= form.hidden_field :account_id, :value => @account.id %>
                    <%= form.submit "Add Team" %>
        </div>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<style>
.grid3 >div{
  height: 400px;
  background: white;
  float: none;
  display: inline-block;
  background-clip: content-box
}
</style>